debugLevel = <%= node['postfix']['spf']['debugLevel'] %>
defaultSeedOnly = <%= node['postfix']['spf']['seed_only'] %>

HELO_reject = <%= node['postfix']['spf']['hello_reject'] %>
Mail_From_reject = <%= node['postfix']['spf']['mail_from_reject'] %>

PermError_reject = <%= node['postfix']['spf']['perm_error_reject'] %>
TempError_Defer = <%= node['postfix']['spf']['temp_error_defer'] %>

<% addresses = '127.0.0.0/8,::ffff:127.0.0.0/104,::1' %>
<% node['postfix']['spf']['skip_addresses'].each do |sa| %>
<% addresses += ',' + sa %>
<% end -%>

skip_addresses = <%= addresses %>



