# *** Blacklist Mail address ***
/^.*@ret\.clb-garden\.com$/			REJECT
/^.*@koibank\.jp$/					REJECT
/^.*@artm\.pro$/					REJECT

<% node['postfix']['blacklist_mailfrom'].each do |from| %>
/^.*@<%= from %>$/ 					REJECT
<% end -%>
