//
// Bind 設定ファイル
//

// -----------------------------------------------------------------------------
// 内向きのネットワークの宣言
acl "inner-nets" {
    <% node['bind']['inner-nets'].each do |inr| %>
    <%= inr + ";" %>
    <% end %>
};

// -----------------------------------------------------------------------------
// スレーブサーバ群の宣言
acl "slave-servers" {
    <% node['bind']['slaves'].each do |slv| %>
    <%= slv + ";" %>
    <% end %>
};

// -----------------------------------------------------------------------------
// 全体の設定
options {
    version             "unknown" ;
    directory           "/var/named" ;
    dump-file           "/var/named/data/cache_dump.db" ;
    statistics-file     "/var/named/data/named_stats.txt" ;
    memstatistics-file  "/var/named/data/named_mem_stats.txt" ;
    allow-query         { any; } ;

    // yes の場合は再帰問い合わせを許可
    recursion           yes ;

    // also-notify で明示的に指定したホストにのみゾーン更新情報を送信
    notify              explicit ;

    // スレーブサーバへの更新通知（zoneに記述されたものが優先される）
    allow-notify        { slave-servers ; } ;

    // スレーブサーバへのゾーン転送の許可（zoneに記述されたものが優先される）
    allow-transfer      { slave-servers ; } ;

    // スレーブサーバの通知を IP で指定
    also-notify         {
        <% node['bind']['slaves'].each do |slv2| %>
        <%= slv2 + ";" %>
        <% end %>
    };
};

// -----------------------------------------------------------------------------
// ログの設定
logging {
    channel "default_syslog" {
    file    "/var/log/named.log" ;
        severity  info;
    };

    category "lame-servers" {
        null ;
    };

    // クエリー用のログ出力
    channel "named_queries" {
        file        "/var/log/queries.log" ;
        severity    info ;
        print-time  yes  ;
    };

    // クエリーを named_queries へ出力
    category "queries" {
        "named_queries";
    };
};

// -----------------------------------------------------------------------------
// 内向け
view "internal" {
    // 一致したアクセス元のみ下記の設定を使用する
    match-clients  { localhost; localnets; inner-nets; };

    // yes の場合は再帰問い合わせを許可
    recursion      yes ;

    // 内向けのゾーンセット
    include  "/etc/named.rfc1912.zones" ;
    include  "/etc/named.rfc1918.zones" ;

    // Master の一覧を記載したゾーンファイルのインクルード
    include  "/etc/masters.zones" ;

    // root hint
    zone "." IN {
        type hint;
        file "named.ca";
    };
};


// -----------------------------------------------------------------------------
// 外向け
view "external" {
    // ローカル向けにマッチしなかったアクセス元すべて
    match-clients   { any; };

    // 再帰問い合わせの禁止
    recursion       no;

    // Master の一覧を記載したゾーンファイルのインクルード
    include "/etc/masters.zones" ;

    // マスターの設定例
    //zone "example.co.jp" IN {
    //    type            master ;
    //    file            "masters/example.co.jp.zone" ;
    //    allow-update    { none; } ;
    //    allow-transfer  { 59.106.66.224; } ;
    //};
};