driftfile /var/lib/ntp/drift

restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery

restrict 127.0.0.1
restrict -6 ::1

#restrict 192.168.1.0 mask 255.255.255.0 nomodify notrap

<% node.ntpd.servers.each do |sv| %>
server <%= sv %> iburst
<% end %>

#crypto

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys
#trustedkey 4 8 42
#requestkey 8
#controlkey 8
#statistics clockstats cryptostats loopstats peerstats
