## -- <%= @fqdn %> ---
<VirtualHost <%= @ipaddr %>:443>
	ServerAdmin	<%= @email %>
	DocumentRoot	<%= @base_dir %>/htdocs
	ServerName	<%= @fqdn %>

	ErrorLog	<%= @base_dir %>/logs/error_ssl.log
	CustomLog	<%= @base_dir %>/logs/access_ssl.log combined

	DirectoryIndex	index.html index.php

	AddOutputFilter	INCLUDES .html
	AddOutputFilter	INCLUDES .php

	SSLEngine on
	SSLProtocol             all -SSLv2 -SSLv3
	SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
	SSLHonorCipherOrder     on
	SSLCertificateChainFile <%= @ssl_path %>cha/<%= @fqdn %>.cha
	SSLCertificateFile      <%= @ssl_path %>cer/<%= @fqdn %>.cer
	SSLCertificateKeyFile   <%= @ssl_path %>key/<%= @fqdn %>.key

	<Directory <%= @base_dir %>/htdocs>
		Options			+FollowSymLinks +Includes
		AllowOverride	All
	</Directory>

	<Location "/xmlrpc.php">
		Order allow,deny
		Deny from all
	</Location>
</VirtualHost>
