## -- <%= @fqdn %> ---
<VirtualHost <%= @ipaddr %>:<%= @port %>>
    ServerAdmin     <%= @email %>
    DocumentRoot    <%= @documentroot %>/htdocs
    ServerName      <%= @fqdn %>
    <%= @alias.to_a.empty? ? "" : "ServerAlias " + @alias.join(" ") %>

    ErrorLog        <%= @base_dir %>/logs/error.log
    CustomLog       <%= @base_dir %>/logs/access.log combined

    DirectoryIndex	index.html index.php

    <% if @is_ssl %>
    SSLEngine       on
    SSLProtocol     all -SSLv2 -SSLv3
    SSLCipherSuite  ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    SSLHonorCipherOrder     on
    SSLCertificateChainFile <%= @ssl_path %>cha/<%= @fqdn %>.cha
    SSLCertificateFile      <%= @ssl_path %>cer/<%= @fqdn %>.cer
    SSLCertificateKeyFile   <%= @ssl_path %>key/<%= @fqdn %>.key
    <% end -%>

    <Directory <%= @documentroot %>/htdocs>
        Options         FollowSymLinks +Includes
        AllowOverride   All

        <% if @is_use_auth %>
        AuthUserFile    /etc/httpd/htpasswd/.htpasswd-<%= @sitename %>
        AuthGroupFile   /dev/null
        AuthName        "Input ID / Password"
        AuthType        Basic
        require         valid-user
        <% end %>

    </Directory>
</VirtualHost>
