## -- <%= @fqdn %> ---
<VirtualHost <%= @ipaddr %>:<%= @port %>>
	ServerAdmin	<%= @email %>
	DocumentRoot	<%= @base_dir %>/htdocs
	ServerName	<%= @fqdn %>
	<%= @alias.to_a.empty? ? "" : "ServerAlias " + @alias.join(" ") %>

	ErrorLog	<%= @base_dir %>/logs/error.log
	CustomLog	<%= @base_dir %>/logs/access.log combined

	DirectoryIndex	index.html index.php

	<Directory <%= @base_dir %>/htdocs>
		Options			FollowSymLinks +Includes
		AllowOverride	All
	</Directory>
</VirtualHost>
