## -- <%= @fqdn %> ---
<VirtualHost <%= @ipaddr %>:<%= @port %>>
	ServerAdmin	<%= @email %>
	DocumentRoot	<%= @base_dir %>/htdocs
	ServerName	<%= @fqdn %>
	<%= @alias.to_a.empty? ? "" : "ServerAlias " + @alias.join(" ") %>

	ErrorLog	<%= @base_dir %>/logs/error.log
	CustomLog	<%= @base_dir %>/logs/access.log combined

	DirectoryIndex	index.html index.php
	#AddOutputFilter INCLUDES .php
	#AddDefaultCharset	UTF-8

	<Directory <%= @base_dir %>/htdocs>
		Options			FollowSymLinks +Includes
		AllowOverride	All

		AuthUserFile	/etc/httpd/htpasswd/.htpasswd-<%= @sitename %>
		AuthGroupFile   /dev/null
		AuthName		"Input ID / Password"
		AuthType		Basic
		require			valid-user
	</Directory>
</VirtualHost>
