/var/log/httpd/*log /home/webroot/*/logs/*.log {
    daily 
    rotate <%= node['virtualhosts']['rotate'] %> 
    compress
    missingok
    notifempty
    sharedscripts
    postrotate
        /bin/kill -HUP `cat /var/run/httpd/httpd.pid 2>/dev/null` \
             2> /dev/null || true
    endscript
}
