## -- <%= @fqdn %> ---
<VirtualHost <%= @ipaddr %>:80>
	ServerAdmin	<%= @email %>
	DocumentRoot	<%= @documentroot %>/htdocs
	ServerName	<%= @fqdn %>

	ErrorLog	<%= @base_dir %>/logs/error.log
	CustomLog	<%= @base_dir %>/logs/access.log combined

	DirectoryIndex	index.html index.php
	SetEnv		FUEL_ENV vagrant
	<% @env.to_a.empty? %>
	<% @env.each do |ev| %>
	<%= "SetEnv " + ev['key'] + " " + ev['value'] %>
	<% end %>

	<Directory <%= @documentroot %>/htdocs>
		Options			FollowSymLinks +Includes
		AllowOverride	All
		EnableSendfile	Off
	</Directory>
</VirtualHost>
